/****** Script for SelectTopNRows command from SSMS  ******/
SELECT TOP 1000 REGISTROS.[ID]
      ,REGISTROS.[DATA_ATENDIMENTO]
      ,REGISTROS.[MATRICULA_CEOPC]
      ,REGISTROS.[TIPO_ATENDIMENTO]
      ,REGISTROS.[CANAL_ATENDIMENTO]
      ,LISTA.NOME_ATIVIDADE
      ,REGISTROS.[OBSERVACAO_CEOPC]
      ,REGISTROS.[MATRICULA_ATENDIDO]
      ,REGISTROS.[UNIDADE_DEMANDANTE]
  FROM [SP5459_DES].[dbo].[tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO] AS REGISTROS
INNER JOIN tbl_ATENDIMENTO_WEB_LISTA_ATIVIDADES AS LISTA ON REGISTROS.ITEM_LISTA_ATIVIDADES = LISTA.ID
