/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	EMPREGADO.[ID]
    ,EMPREGADO.[MATRICULA]
    ,EMPREGADO.[DV]
	,EMP.NOME
    ,CELULAS.NOME_CELULA
	,CELULAS.NOME_GESTOR
    ,EMPREGADO.[NIVEL_ACESSO]
FROM 
	[SP5459_DES].[dbo].[tbl_CEOPC_EMPREGADO] AS EMPREGADO
	INNER JOIN tbl_CEOPC_GRUPOS_CELULAS AS CELULAS ON EMPREGADO.ID_CELULA = CELULAS.ID
	INNER JOIN EMPREGADOS AS EMP ON REPLACE(EMPREGADO.MATRICULA, 'C', '') = EMP.MATRICULA
WHERE 
	CELULAS.NOME_CELULA = 'BACK OFFICE'
ORDER BY 
	EMPREGADO.[ID]
