/****** Script for SelectTopNRows command from SSMS  ******/

-- Essa query faz o levantamento de pesquisas enviadas e respondidas nos ultimos três meses
SELECT 
	'MÊS' = DATEPART(MONTH, [DATA_ENVIO])
	,'PESQUISAS_ENVIADAS' = COUNT([DATA_ENVIO])
    ,'PESQUISAS_RESPONDIDAS' = COUNT([DATA_RESPOSTA])
	,'MÉDIA_CORDIALIDADE' = AVG(CONVERT(FLOAT,[NOTA_CORDIALIDADE]))
	,'MÉDIA_DOMÍNIO' = AVG(CONVERT(FLOAT,[NOTA_DOMINIO]))
	,'MÉDIA_TESPESTIVIDADE' = AVG(CONVERT(FLOAT,[NOTA_TEMPESTIVIDADE]))
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_PESQUISAS]
WHERE
	DATEPART(YEAR, [DATA_ENVIO]) >= YEAR(GETDATE())
	AND DATEPART(MONTH, [DATA_ENVIO]) BETWEEN (MONTH(GETDATE())-3) AND MONTH(GETDATE())
GROUP BY DATEPART(MONTH, [DATA_ENVIO])

