/****** Script for SelectTopNRows command from SSMS  ******/
--USE [5459_1]
 --Contagem de Registro de Rotinas
SELECT 
    'MÊS' = DATEPART(MONTH,ATENDIMENTO.[DATA_ATENDIMENTO])
    ,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]
    ,'ROTINA' = COUNT(ATENDIMENTO.[ROTINA])
	,'CONSULTORIA' = COUNT(ATENDIMENTO.[CONSULTORIA])
	,'TOTAL_ATENDIMENTOS_MÊS' = COUNT(ATENDIMENTO.[CONSULTORIA]) + COUNT(ATENDIMENTO.[ROTINA])
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO] AS ATENDIMENTO 
	INNER JOIN [EMPREGADOS] ON CONVERT(BIGINT,REPLACE(ATENDIMENTO.MATRICULA_CEOPC, 'c', '')) = EMPREGADOS.[MATRICULA]
WHERE 
	DATEPART(YEAR,ATENDIMENTO.[DATA_ATENDIMENTO]) >= YEAR(GETDATE())
	-- Filtro para retornar os últimos três meses
	AND DATEPART(MONTH, [DATA_ATENDIMENTO]) BETWEEN (MONTH(GETDATE())-3) AND MONTH(GETDATE())
GROUP BY 
	MONTH(ATENDIMENTO.[DATA_ATENDIMENTO])
	,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]