/****** Script for SelectTopNRows command from SSMS  ******/

-- Pizza de Atendimento (Rotina e Consultoria)
SELECT 
    'MÊS' = DATEPART(MONTH,[DATA_ATENDIMENTO])
	,'ROTINA' = COUNT([ROTINA])
	,'CONSULTORIA' = COUNT([CONSULTORIA])
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO]
WHERE 
	DATEPART(YEAR,[DATA_ATENDIMENTO]) >= YEAR(GETDATE())
	-- Filtro para retornar os últimos três meses
	AND DATEPART(MONTH, [DATA_ATENDIMENTO]) BETWEEN (MONTH(GETDATE())-3) AND MONTH(GETDATE())
GROUP BY 
	MONTH([DATA_ATENDIMENTO])
