/****** Script for SelectTopNRows command from SSMS  ******/
USE [5459_1]

SELECT 
	PESQUISAS.[ID]
	,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]
	,ATIVIDADE.[NOME_ATIVIDADE]
    ,PESQUISAS.[DATA_ENVIO]
	,ATENDIMENTO.[OBSERVACAO_CEOPC]
	,ATENDIMENTO.[UNIDADE_DEMANDANTE]
    ,PESQUISAS.[DATA_RESPOSTA]
    ,PESQUISAS.[NOTA_CORDIALIDADE]
    ,PESQUISAS.[NOTA_DOMINIO]
    ,PESQUISAS.[NOTA_TEMPESTIVIDADE]
    ,PESQUISAS.[FEEDBACK_ATENDIDO]
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_PESQUISAS] AS PESQUISAS
	INNER JOIN tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO AS ATENDIMENTO ON PESQUISAS.[ID_REGISTRO_ATENDIMENTO] = ATENDIMENTO.[ID]
	INNER JOIN tbl_ATENDIMENTO_WEB_LISTA_ATIVIDADES AS ATIVIDADE ON ATENDIMENTO.[ITEM_LISTA_ATIVIDADES] = ATIVIDADE.[ID]
	LEFT JOIN [EMPREGADOS] AS EMPREGADOS ON CONVERT(BIGINT,REPLACE(ATENDIMENTO.MATRICULA_CEOPC, 'c', '')) = EMPREGADOS.[MATRICULA]
WHERE
	DATEPART(YEAR, PESQUISAS.[DATA_ENVIO]) >= YEAR(GETDATE())
	AND DATEPART(MONTH, PESQUISAS.[DATA_ENVIO]) BETWEEN (MONTH(GETDATE())-3) AND MONTH(GETDATE())
	AND PESQUISAS.[DATA_RESPOSTA] IS NOT NULL