/****** Script for SelectTopNRows command from SSMS  ******/

-- Contagem de Registro de Rotinas
SELECT 
    'MÊS' = DATEPART(MONTH,ATENDIMENTO.[DATA_ATENDIMENTO])
    ,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]
    ,'ROTINA' = COUNT(ATENDIMENTO.[TIPO_ATENDIMENTO])
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO] AS ATENDIMENTO 
	INNER JOIN [EMPREGADOS] ON CONVERT(BIGINT,REPLACE(ATENDIMENTO.MATRICULA_CEOPC, 'c', '')) = EMPREGADOS.[MATRICULA]
WHERE 
	DATEPART(YEAR,ATENDIMENTO.[DATA_ATENDIMENTO]) >= YEAR(GETDATE())
	AND ATENDIMENTO.[TIPO_ATENDIMENTO] = 'ATIVIDADE'
	-- Filtro para retornar os últimos três meses
	--AND DATEPART(MONTH, [DATA_ATENDIMENTO]) BETWEEN (MONTH(GETDATE())-3) AND MONTH(GETDATE())
GROUP BY 
	MONTH(ATENDIMENTO.[DATA_ATENDIMENTO])
	,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]

-- Contagem de Registro de Consultorias
SELECT 
    'MÊS' = DATEPART(MONTH,ATENDIMENTO.[DATA_ATENDIMENTO])
    ,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]
	,'CONSULTORIA' = COUNT(ATENDIMENTO.[TIPO_ATENDIMENTO])
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO] AS ATENDIMENTO 
	INNER JOIN [EMPREGADOS] ON CONVERT(BIGINT,REPLACE(ATENDIMENTO.MATRICULA_CEOPC, 'c', '')) = EMPREGADOS.[MATRICULA]
WHERE 
	DATEPART(YEAR,ATENDIMENTO.[DATA_ATENDIMENTO]) >= YEAR(GETDATE())
	AND ATENDIMENTO.[TIPO_ATENDIMENTO] = 'CONSULTORIA'
	-- Filtro para retornar os últimos três meses
	--AND DATEPART(MONTH, [DATA_ATENDIMENTO]) BETWEEN (MONTH(GETDATE())-3) AND MONTH(GETDATE())
GROUP BY 
	MONTH(ATENDIMENTO.[DATA_ATENDIMENTO])
	,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]

-- Contagem de Registros de Atendimentos
SELECT 
    'MÊS' = DATEPART(MONTH,ATENDIMENTO.[DATA_ATENDIMENTO])
    ,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]
	,'ATENDIMENTOS' = COUNT(ATENDIMENTO.[TIPO_ATENDIMENTO])
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO] AS ATENDIMENTO 
	INNER JOIN [EMPREGADOS] ON CONVERT(BIGINT,REPLACE(ATENDIMENTO.MATRICULA_CEOPC, 'c', '')) = EMPREGADOS.[MATRICULA]
WHERE 
	DATEPART(YEAR,ATENDIMENTO.[DATA_ATENDIMENTO]) >= YEAR(GETDATE())
	-- Filtro para retornar os últimos três meses
	--AND DATEPART(MONTH, [DATA_ATENDIMENTO]) BETWEEN (MONTH(GETDATE())-3) AND MONTH(GETDATE())
GROUP BY 
	MONTH(ATENDIMENTO.[DATA_ATENDIMENTO])
	,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]