DECLARE @MES_ANTERIOR AS INT
DECLARE @PERIODO_INICIAL AS DATETIME

SET @MES_ANTERIOR = DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))

SET @PERIODO_INICIAL = CASE @MES_ANTERIOR 
							WHEN 10 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -3, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 11 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 12 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -1, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							ELSE GETDATE()
						END
-- Pizza de Atendimento (Rotina e Consultoria)
SELECT TOP 3
	'lote' = CONCAT(DATEPART(YEAR,[DATA_ATENDIMENTO]),'/', RIGHT('0' + RTRIM(DATEPART(MONTH,[DATA_ATENDIMENTO])), 2))
	,'rotina' = COUNT([ROTINA])
	,'consultoria' = COUNT([CONSULTORIA])
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO]
WHERE 
	[DATA_ATENDIMENTO] >= @PERIODO_INICIAL
GROUP BY 
	MONTH([DATA_ATENDIMENTO])
	,DATEPART(YEAR,[DATA_ATENDIMENTO])
ORDER BY 
	DATEPART(YEAR,[DATA_ATENDIMENTO]) DESC
	,DATEPART(MONTH,[DATA_ATENDIMENTO]) DESC