-- Essa query faz o levantamento de pesquisas enviadas e respondidas nos ultimos três meses
DECLARE @MES_ANTERIOR AS INT
DECLARE @PERIODO_INICIAL AS DATETIME

SET @MES_ANTERIOR = DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))

SET @PERIODO_INICIAL = CASE @MES_ANTERIOR 
							WHEN 10 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -3, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 11 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 12 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -1, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							ELSE CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, 0, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
						END

SELECT 
	'LOTE' = RIGHT('0' + RTRIM(DATEPART(MONTH,[DATA_ENVIO])), 2)
	,'PESQUISAS_ENVIADAS' = COUNT([DATA_ENVIO])
	,'PESQUISAS_RESPONDIDAS' = COUNT([DATA_RESPOSTA])
	,'MEDIA_CORDIALIDADE' = AVG(CONVERT(FLOAT,[NOTA_CORDIALIDADE]))
	,'MEDIA_DOMINIO' = AVG(CONVERT(FLOAT,[NOTA_DOMINIO]))
	,'MEDIA_TESPESTIVIDADE' = AVG(CONVERT(FLOAT,[NOTA_TEMPESTIVIDADE]))
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_PESQUISAS]
WHERE 
	[DATA_ENVIO] >= @PERIODO_INICIAL
GROUP BY 
	DATEPART(MONTH, [DATA_ENVIO])
	,DATEPART(YEAR, [DATA_ENVIO])
ORDER BY 
	DATEPART(YEAR, [DATA_ENVIO]) DESC
	,DATEPART(MONTH, [DATA_ENVIO]) DESC