/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @MES_ANTERIOR AS INT
DECLARE @PERIODO_INICIAL AS DATETIME

SET @MES_ANTERIOR = DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))

SET @PERIODO_INICIAL = CASE @MES_ANTERIOR 
							WHEN 10 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -3, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 11 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 12 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -1, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							ELSE GETDATE()
						END

SELECT
	'lote' = CONCAT(DATEPART(YEAR,REGISTRO_ATENDIMENTO.[DATA_ATENDIMENTO]), '/', RIGHT('0' + RTRIM(DATEPART(MONTH,REGISTRO_ATENDIMENTO.[DATA_ATENDIMENTO])), 2))
	,'nomeRotina' = LISTA_ATIVIDADES.NOME_ATIVIDADE
	,'quantidade' = COUNT(LISTA_ATIVIDADES.NOME_ATIVIDADE)
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO] AS REGISTRO_ATENDIMENTO INNER JOIN [tbl_ATENDIMENTO_WEB_LISTA_ATIVIDADES] AS LISTA_ATIVIDADES ON REGISTRO_ATENDIMENTO.[ITEM_LISTA_ATIVIDADES] = LISTA_ATIVIDADES.[ID]
WHERE 
	REGISTRO_ATENDIMENTO.[ROTINA] IS NOT NULL
	AND REGISTRO_ATENDIMENTO.[DATA_ATENDIMENTO] >= @PERIODO_INICIAL
GROUP BY 
	CONCAT(DATEPART(YEAR,REGISTRO_ATENDIMENTO.[DATA_ATENDIMENTO]), '/', RIGHT('0' + RTRIM(DATEPART(MONTH,REGISTRO_ATENDIMENTO.[DATA_ATENDIMENTO])), 2))
	,LISTA_ATIVIDADES.NOME_ATIVIDADE
ORDER BY 
	lote DESC
	, quantidade desc