/****** Script for SelectTopNRows command from SSMS  ******/
--SELECT 
--	'lote' = [MES]
--    ,'rs' = [RS]
--    ,'sc' = [SC]
--    ,'mt' = [MT]
--    ,'ms' = [MS]
--    ,'pr' = [PR]
--    ,'sp' = [SP]
--    ,'df' = [DF]
--    ,'mg' = [MG]
--    ,'es' = [ES]
--    ,'rj' = [RJ]
--    ,'am' = [AM]
--    ,'rr' = [RR]
--    ,'ap' = [AP]
--    ,'pa' = [PA]
--    ,'to' = [TO]
--    ,'ro' = [RO]
--    ,'ac' = [AC]
--    ,'go' = [GO]
--    ,'ma' = [MA]
--    ,'pi' = [PI]
--    ,'ce' = [CE]
--    ,'rn' = [RN]
--    ,'pb' = [PB]
--    ,'pe' = [PE]
--    ,'al' = [AL]
--    ,'se' = [SE]
--    ,'ba' = [BA]
--    ,'ufOutros' = [UF_OUTROS]
--    ,'direA' = [DIRE_A]
--    ,'direB' = [DIRE_B]
--    ,'direCD' = [DIRE_C_D]
--    ,'direE' = [DIRE_E]
--    ,'direF' = [DIRE_F]
--    ,'direG' = [DIRE_G]
--    ,'direH' = [DIRE_H]
--    ,'direOutros' = [DIRE_OUTROS]
--    ,'total' = [TOTAL]
--FROM [tbl_ATENDIMENTO_WEB_RELATORIO_INDICADORES]

SELECT 
	'lote' = [MES]
	,[RS]
	,[SC]
	,[MT]
	,[MS]
	,[PR]
	,[SP]
	,[DF]
	,[MG]
	,[ES]
	,[RJ]
	,[AM]
	,[RR]
	,[AP]
	,[PA]
	,[TO]
	,[RO]
	,[AC]
	,[GO]
	,[MA]
	,[PI]
	,[CE]
	,[RN]
	,[PB]
	,[PE]
	,[AL]
	,[SE]
	,[BA]
	,'ufOutros' = [UF_OUTROS]
	,'direA' = [DIRE_A]
	,'direB' = [DIRE_B]
	,'direCD' = [DIRE_C_D]
	,'direE' = [DIRE_E]
	,'direF' = [DIRE_F]
	,'direG' = [DIRE_G]
	,'direH' = [DIRE_H]
	,'direOutros' = [DIRE_OUTROS]
	,'total' = [TOTAL]
FROM [tbl_ATENDIMENTO_WEB_RELATORIO_INDICADORES]