/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @MES_ANTERIOR AS INT
DECLARE @PERIODO_INICIAL AS DATETIME

SET @MES_ANTERIOR = DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))

SET @PERIODO_INICIAL = CASE @MES_ANTERIOR 
							WHEN 10 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -3, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 11 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 12 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -1, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							ELSE GETDATE()
						END
-- Essa query faz o levantamento de pesquisas enviadas e respondidas nos ultimos três meses
SELECT 
	'lote' = CONCAT(DATEPART(YEAR,[DATA_ENVIO]),'/', RIGHT('0' + RTRIM(DATEPART(MONTH,[DATA_ENVIO])), 2))
	,'pesquisaEnviadas' = COUNT([DATA_ENVIO])
    ,'pesquisasRespondidas' = COUNT([DATA_RESPOSTA])
	,'mediaCordialidade' = CAST(AVG(CONVERT(FLOAT,[NOTA_CORDIALIDADE])) AS DECIMAL (10,2))
	,'mediaDominio' = CAST(AVG(CONVERT(FLOAT,[NOTA_DOMINIO])) AS DECIMAL (10,2))
	,'mediaTempestividade' = CAST(AVG(CONVERT(FLOAT,[NOTA_TEMPESTIVIDADE])) AS DECIMAL (10,2))
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_PESQUISAS]
WHERE
	[DATA_ENVIO] >= @PERIODO_INICIAL
GROUP BY 
	CONCAT(DATEPART(YEAR,[DATA_ENVIO]),'/', RIGHT('0' + RTRIM(DATEPART(MONTH,[DATA_ENVIO])), 2))
ORDER BY
	CONCAT(DATEPART(YEAR,[DATA_ENVIO]),'/', RIGHT('0' + RTRIM(DATEPART(MONTH,[DATA_ENVIO])), 2)) DESC