/****** Script for SelectTopNRows command from SSMS  ******/
DECLARE @MES_ANTERIOR AS INT
DECLARE @PERIODO_INICIAL AS DATETIME

SET @MES_ANTERIOR = DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))

SET @PERIODO_INICIAL = CASE @MES_ANTERIOR 
							WHEN 10 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -3, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 11 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -2, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							WHEN 12 THEN CONVERT(DATETIME, CONCAT(DATEPART(YEAR, DATEADD(YEAR, -1, GETDATE())), '-', RIGHT('0' + RTRIM(DATEPART(MONTH, DATEADD(MONTH, -1, GETDATE()))), 2), '-', '01', ' ', '00:00:00'), 120)
							ELSE GETDATE()
						END

SELECT 
	'LOTE' = CONCAT(DATEPART(YEAR,[DATA_ENVIO]),'/', RIGHT('0' + RTRIM(DATEPART(MONTH,[DATA_ENVIO])), 2))
	,'matriculaCeopc' = ATENDIMENTO.[MATRICULA_CEOPC]
	,'nome' = EMPREGADOS.[NOME]
	,'nomeAtividade' = ATIVIDADE.[NOME_ATIVIDADE]
    ,'dataEnvioPesquisa' = PESQUISAS.[DATA_ENVIO]
	,'observacaoCeopc' = ATENDIMENTO.[OBSERVACAO_CEOPC]
	,'unidadeDemandante' = ATENDIMENTO.[UNIDADE_DEMANDANTE]
    ,'dataRespostaPesquisa' = PESQUISAS.[DATA_RESPOSTA]
    ,'notaCordialidade' = PESQUISAS.[NOTA_CORDIALIDADE]
    ,'notaDominio' = PESQUISAS.[NOTA_DOMINIO]
    ,'notaTempestividade' = PESQUISAS.[NOTA_TEMPESTIVIDADE]
    ,'feedbackAtendido' = PESQUISAS.[FEEDBACK_ATENDIDO]
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_PESQUISAS] AS PESQUISAS
	INNER JOIN tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO AS ATENDIMENTO ON PESQUISAS.[ID_REGISTRO_ATENDIMENTO] = ATENDIMENTO.[ID]
	INNER JOIN tbl_ATENDIMENTO_WEB_LISTA_ATIVIDADES AS ATIVIDADE ON ATENDIMENTO.[ITEM_LISTA_ATIVIDADES] = ATIVIDADE.[ID]
	LEFT JOIN [EMPREGADOS] AS EMPREGADOS ON CONVERT(BIGINT,REPLACE(ATENDIMENTO.MATRICULA_CEOPC, 'c', '')) = EMPREGADOS.[MATRICULA]
WHERE
	PESQUISAS.[DATA_ENVIO] >= @PERIODO_INICIAL
	AND PESQUISAS.[DATA_RESPOSTA] IS NOT NULL
	--AND ATENDIMENTO.[MATRICULA_CEOPC] = :MATRICULA
ORDER BY
	LOTE DESC
	, EMPREGADOS.[NOME]