/****** Script for SelectTopNRows command from SSMS  ******/
SELECT 
	PESQUISAS.[ID]
    ,PESQUISAS.[DATA_ENVIO]
    ,PESQUISAS.[ID_REGISTRO_ATENDIMENTO]
	,ATENDIMENTO.[MATRICULA_CEOPC]
	,EMPREGADOS.[NOME]
    ,PESQUISAS.[DATA_RESPOSTA]
    ,PESQUISAS.[NOTA_CORDIALIDADE]
    ,PESQUISAS.[NOTA_DOMINIO]
    ,PESQUISAS.[NOTA_TEMPESTIVIDADE]
    ,PESQUISAS.[FEEDBACK_ATENDIDO]
FROM 
	[tbl_ATENDIMENTO_WEB_REGISTRO_PESQUISAS] AS PESQUISAS 
	LEFT JOIN [tbl_ATENDIMENTO_WEB_REGISTRO_ATENDIMENTO] AS ATENDIMENTO ON PESQUISAS.[ID_REGISTRO_ATENDIMENTO] = ATENDIMENTO.[ID]
	LEFT JOIN [EMPREGADOS] ON CONVERT(BIGINT,REPLACE(ATENDIMENTO.MATRICULA_CEOPC, 'c', '')) = EMPREGADOS.[MATRICULA]


